
.cont1{
	/*display: flex;*/
	
	
	position: relative;
	max-width: 600px;

}

.cont2{
	/*display: flex;*/

	
	position: relative;
	max-width: 600px;

}

.ima{

	max-height: 700px;
}
.fa.fa-arrow-left{
	position: absolute;
	left: 2.5%;
	bottom:50%;
}

.fa.fa-arrow-right{
	position: absolute;
	right: 2.5%;
	bottom:50%;
}
i{
	color: black;

}
